@import "./reset";




// variables
$danger:#891818;
$secondary:#707070;

// base
*,*::before,*::after{
  box-sizing: border-box;
}

body{
  
  img{
    vertical-align:center;
    max-width: 100%;
    height: auto;
  }
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
h1{
  font-size: 80px;
  line-height: 106px;
  font-style: italic;
  font-weight: bold;
}
h2{
  font-size: 64px;
  line-height: 84px;
  font-style: italic;
  font-weight: bold;
}
h3{
  font-size: 24px;
  line-height: 36px;
  font-style: italic;
  font-weight: bold;
}


.container{
  max-width: 1200px;
  padding-top: 56px;
  margin: 0 auto;
}


// index
.banner{
  color:white;
  background-image: url(../pics/photo-1552393700-42696fb89bfa.png);
  background-size: cover;
  background-position: center;
  padding:308px 0px;
  display: flex;
  justify-content: center;
  &-content{
    max-width: 304px;

    h1{
      margin-bottom: 32px;
    }
    h3{
      margin-bottom: 40px;
    }
    .tag{
      line-height: 42px;
      margin-bottom: 0px;
    }
    ul{
      display: flex;
      justify-content: space-between;
    }
  }
}
.about{
  .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  }
  
  img{
    display: block;
    max-width: 384px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  ul{
    margin-top: 24px;
    max-width: 384px;
    border-top: 1px solid #000;
    .circle{
      display: inline-block;
      background-color: $danger;
      border-radius: 50%;
      margin-right: 16px;
      width: 22px;
      height: 22px;
    }
    li{
      margin-top: 28px;
      &:last-child{
        margin-bottom: 56px;
      }
    }
  }
}
.myBrand{
  color:white;
  background-color:black;
  .container{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  h3{
    margin-top: 12px;
    &:nth-child(3){
      margin-top: 32px;
      font-style: normal;
      font-weight: 500;
      margin-bottom: 68px;
    }
  }
  img{
    display: block;
  }
  &-images{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
  }

}

.otherWork{
  text-align: center;
  .w-588{
    max-width: 588px;
  }
    span{
      font-style: italic;
    }
  h3{
    margin-top: 16px;
    margin-bottom: 56px;
    font-weight: 500;
    font-style: normal;
  }
  .posters{
    display: flex;
    justify-content: space-between;
    padding-bottom: 144px;
    flex-wrap: wrap;
  
    .card{
      margin-bottom: 48px;
      text-align: center;
      img{
        display: block;
      }
      p{
        font-weight: 500;
        padding-top: 16px;
      }
    }
  }
}
.contact{
  text-align: center;
  background-color: black;
  color:white;
  padding: 64px 0px;
      a{
      text-decoration: none;
      color:white;
      &:hover{
        color:$danger;
      }
    }
  h3{
    margin:16px 0px;

    &:last-child{
      margin: 0px 0px;
    }
  }


}