/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Roboto' ,sans-serif;
  font-style: italic;
}

img {
  vertical-align: center;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: bold;
  font-size: 80px;
  line-height: 106px;
}

h2 {
  font-size: 64px;
  line-height: 84px;
  padding-top: 56px;
}

h3 {
  font-size: 24px;
  line-height: 36px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.banner {
  height: 100vh;
  color: white;
  background-image: url(../pics/banner.png);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .container {
  max-width: 304px;
}

.banner .container small {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.banner .container h3 {
  padding-top: 32px;
  padding-bottom: 40px;
}

.banner .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about .container img {
  margin-top: 40px;
  margin-bottom: 20px;
}

.about .container .mb-4 {
  margin-bottom: 4px;
}

.about .container .mb-8 {
  margin-bottom: 8px;
}

.about .container .mb-20 {
  margin-bottom: 20px;
}

.about .container ul {
  margin-bottom: 56px;
  border-top: 1px solid #000;
}

.about .container ul li {
  margin-top: 28px;
}

.about .container ul li::before {
  height: 22px;
  width: 22px;
  background: #891818;
  content: '';
  display: inline-block;
  margin-right: 16px;
  border-radius: 50%;
}

.brand {
  color: white;
  background-color: black;
}

.brand .container {
  text-align: center;
  padding-bottom: 160px;
}

.brand h3 {
  padding-top: 12px;
  margin-bottom: 32px;
}

.brand p {
  font-style: normal;
  margin-bottom: 60px;
}

.brand-images {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.work {
  text-align: center;
  padding-bottom: 144px;
}

.work a {
  color: black;
}

.work p {
  padding-top: 16px;
  padding-bottom: 56px;
}

.work ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 24px;
}

.work ul li p {
  padding-top: 16px;
}

.footer {
  background-color: black;
  color: white;
  padding-top: 6px;
  padding-bottom: 64px;
  text-align: center;
}

.footer h3 {
  padding-top: 16px;
}

.footer a {
  color: white;
}
/*# sourceMappingURL=all.css.map */